<nav class="app-nav-bar">
    <h2><a>{{siteTitle}}</a></h2>
    <ul class="nav-right-link">
        <li matRipple>Buy</li>
        <li matRipple>Rent</li>
        <li class="login-btn" (click)="openPopup()"  matRipple>Sign up or Log in</li>
    </ul>
</nav>

