$themeColor: #d93c23


.app-nav-bar
    padding: 15px
    & h2
        display: inline-block
        margin: 15px
        cursor: pointer
    .nav-right-link
        list-style-type: none
        padding: 0px
        margin: 0px
        float: right
        font-size: 16px
        font-weight: bold
        & li
            display: inline-block
            padding: 10px 30px
            border-radius: 5px
            margin: 3px
            transition: .2s background-color linear, .2s color linear
            &:hover
                background-color: $themeColor
                color: #ffffff
                transition: .2s background-color linear, .2s color linear
                cursor: pointer
            &.login-btn
                border: 1px solid #dddddd
                &:hover
                    background-color: #dddddd
                    color: #000000
                    transition: .2s background-color linear, .2s color linear

