@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"


/* You can add global styles to this file, and also import other style files */
html,body
    font-family: 'Varela Round', sans-serif

body
    padding: 0px 10px
    line-height: 1.5em
    margin: 0px